Source: dh-waf
Section: waf
Priority: optional
Maintainer: Niv Sardi <xaiki@debian.org>
Build-Depends: debhelper (>= 9), libmodule-install-perl
Standards-Version: 3.9.8
Vcs-Git: https://github.com/endlessm/dh-waf.git
Vcs-Browser: https://github.com/endlessm/dh-waf.git
X-Waf3-Version: >= 3.2

Package: dh-waf
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, debhelper (>= 9)
Description: Debian helper tools for packaging waf-enabled packages
 This package contains:
  * dh_waf - invokes various build systems for requested Waf versions in
    order to build